/* Admin page. */
.wrap > h1 {
  padding:9px 0 20px 0;
}
/* Navigation tabs. */
.nav-tabs {
  float: left;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid transparent;
  list-style-type: none;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  float: left;
  margin-right: 2px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.5;
  text-decoration: none;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: default;
  color: #555;
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 0 1px #4f94d4;
}

.tab-content > .tab-pane {
  float: left;
  width: 100%;
  display: none;
}
.tab-content > .tab-pane.active {
  display: block;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 128, 0.15);
}

/** Toggles. */
div.mhwp-ipso-ui-toggle {
  margin: 0;
  padding: 0;
  flex: 0 1 200px;
}
div.mhwp-ipso-ui-toggle input[type=checkbox] {
  display: none;
}
div.mhwp-ipso-ui-toggle input[type=checkbox]:checked + label {
  border-color: #009EEA;
  background: #009EEA;
  box-shadow: 0 0 0 0 #009EEA;
}
div.mhwp-ipso-ui-toggle input[type=checkbox]:checked + label > div {
  margin-left: 20px;
}
div.mhwp-ipso-ui-toggle label {
  transition: all 200ms ease;
  display: inline-block;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  background: #8C8C8C;
  box-shadow: inset 0 0 0 0 #009EEA;
  border: 2px solid #8C8C8C;
  border-radius: 22px;
  width: 40px;
  height: 20px;
}
div.mhwp-ipso-ui-toggle label div {
  transition: all 200ms ease;
  background: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
div.mhwp-ipso-ui-toggle label:hover, div.mhwp-ipso-ui-toggle label div:hover {
  cursor: pointer;
}
div.mhwp-ipso-ui-toggle label + span {
  margin-left: 1em;
  font-weight: bold;
}
div.mhwp-ipso-ui-toggle.post_type {
  margin-top: 1em;
}

div#tp_tax_post_types {
  display: flex;
  flex-flow: row wrap;
}

/* ui list. */
ul.ui-list {
  display: flex;
  box-shadow: 0 -2px 4px -2px rgba(0, 0, 128, 0.15);
  padding-left: 2em;
}
ul.ui-list li {
  margin-bottom: 1em;
  margin-top: 1em;
  height: 1em;
}
ul.ui-list li {
  flex: 1 1 10%;
}
ul.ui-list li+li {
  flex: 1 1 70%;
}
ul.ui-list li+li+li {
  flex: 1 1 20%;
}
ul.ui-list li h4 {
  margin-top:1em;
  margin-bottom:1em;
}
ul.ui-list li div {
  display:flex;
  justify-content: space-evenly;
}

ul.ui-list li form {
  display: inline-block;
}

.mhwp-ipso-ui-key input,
.mhwp-ipso-ui-mapping-activity-id input,
.mhwp-ipso-ui-mapping-url input {
  border: 1px solid blue;
  width: 20em;
}

#mhwp-ipso-admin-log textarea {
  white-space: pre;
  resize: both;
}
