@import "modules/tabs.scss";
@import "modules/checkbox.scss";
@import "modules/list.scss";
//

#mhwp-ipso-url {
  border: 1px solid blue;
  width:20em;
}
#mhwp-ipso-apikey {
  border: 1px solid blue;
  width:20em;
}
