// Front end styles.

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in      { display: block; }
  tr.collapse.in    { display: table-row; }
  tbody.collapse.in { display: table-row-group; }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

div#mhwp-ipso-list-container {
  .list-group-item-light {
    background-color: #d3d3d3;
  }
  .list-group-item-dark {
    background-color: #fefefe;
  }

  img {
    height:100px;
  }
  div.reserveer {
    label {
      display:inline-block;
    }
    .required {
      color:red;
    }

    .error {
      color:red;
    }

    input.error {
      color: black;
      border: 1px solid red;
    }
  }

  div.message {
    border:2px solid green;
    padding:1em 1em;
    h3 {
      color: green;
    }
  }

  div.error {
    border:2px solid red;
    padding:1em 1em;
    h3 {
      color: red;
    }
  }
}

div#mhwp-ipso-modal-box {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  display:none;
  align-items:center;
  justify-content:center; ;

  z-index:1;

  &[open] {
    display:flex;
  }

}

div#mhwp-ipso-box-overlay {
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index:0;
  background-color: black;
  opacity: 0.5;
}


div#mhwp-ipso-box-inner {
  background-color: white;
  border-radius: 0.5em;
  max-width:600px;
  padding:2em;
  margin:auto
}
