.wp-block-mhwp-ipso-button {
  #mhwp-ipso-backend {
    display: flex;
    justify-content: space-around;

    border: 1px solid #e24219;

    h4 {
      margin:0;
      padding:1em 0.5em;
      width:auto;
      color: #e24219;
    }
  }

  #mhwp-ipso-button {
    display: flex;
    align-items: center;
  }

  button {
    margin-bottom: 25px;
    background-color: #e24219;
    margin-top: 5px;
    padding: 5px 10px;
  }

  h3.message, h3.error {
    margin-left:1em;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #e24219;
  }
}
