@use "sass:math";

$on: #009EEA;
$bg: #D9CB9E;
$off: #8C8C8C;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin userSelect ($value) {
  user-select: $value;
  -webkit-touch-callout: $value;
}

@mixin ui-toggle($height, $on, $off) {
  margin: 0;
  padding: 0;

  input[type='checkbox'] {
    display:none;
    &:checked + label {
      border-color: $on;
      background: $on;
      box-shadow: 0 0 0 0 $on;

      > div {
        margin-left: $height;
      }
    }
  }

  label {
    transition: all 200ms ease;
    display: inline-block;
    position: relative;

    @include userSelect(none);

    background: $off;
    box-shadow: inset 0 0 0 0 $on;
    border: 2px solid $off;
    border-radius: $height + 2;
    width: $height * 2;
    height: $height;

    div {
      transition: all 200ms ease;
      background: #ffffff;
      width: $height;
      height: $height;
      border-radius: calc($height / 2);
    }

    &:hover,
    & div:hover {
      cursor: pointer;
    }

    & + span {
      margin-left: 1em;
      font-weight: bold;
    }
  }
}

div.ui-toggle {
  @include ui-toggle(20px, $on, $off);

  flex: 0 1 200px;

  &.post_type {
    margin-top:1em;
  }
}

div#tp_tax_post_types {
  display: flex;
  flex-flow: row wrap;
}
