$white: #fff;
$grey_e: #eee;
$grey_d: #ddd;
$grey_5: #555;
$blueish: rgba(0, 0, 128, 0.15);

.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid transparent;
    list-style-type: none;

    > li {
        float: left;
        margin-bottom: -1px;

        > a {
            float: left;
            margin-right: 2px;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            line-height: 1.5;
            text-decoration: none;

            &:hover {
                border-color: $grey_e $grey_e $grey_d;

            }
        }

        &.active > a {
            &,
            &:hover,
            &:focus {
                cursor: default;
                color: #555;
                background-color: $white;
                border-color: transparent;
            }
        }
    }
}

.tab-content {
    > .tab-pane {
        float: left;
        width: 100%;
        display: none;

        &.active {
            display: block;
            padding: 10px;
            background-color: $white;
            box-shadow: 0 5px 4px -2px $blueish;
        }
    }
}
